.entry-meta {
    text-align: center;

    &,
    a,
    a:visited {
        color: $gray-1;
        padding: 5px;
        text-decoration: none;
    }

    a:hover {
        background: lighten($gray-1, 10%);
        color: $gray-3;
    }
}

.site-title {
    @include font-size(1.2);
    text-align: center;

    &,
    a,
    a:visited {
        color: $gray-2;
        padding: 5px;
        text-decoration: none;
    }

    a:hover {
        background: lighten($gray-1, 10%);
        color: $gray-3;
    }
}
