.entry-content .page-header {
    @include font-size(.8);
}

.entry-meta.single,
.entry-meta a {
    padding: 8px;
    text-align: center;
}

.entry-meta a {
    @include font-size(.8);
    color: transparent;
    display: block;
    height: 35px;
    margin-top: -35px;
    position: relative;
    text-decoration: none;
    transition: all .2s;
}

.entry-meta a:hover {
    background-color: $gray-transparent-1;
    color: $white;
}

.site-title {
    @include font-size(.9);
    font-weight: normal;
    margin: 0;
    text-align: center;

    a {
        display: block;
        padding: 5px;
    }
}

.page-header {
    text-align: center;
}
