.comment-navigation,
.posts-navigation,
.post-navigation {
    .nav-links {
        display: flex;
        flex-direction: row-reverse;

        div {
            flex-grow: 1;
            width: 50%;
        }
    }

    .site-main & {
        padding: 10px 15px;
    }

    .nav-previous {
        text-align: right;
    }

    .nav-next {
        text-align: left;
        width: 50%;
    }
}
